@page "/"
@using SpotifyAPI.Web;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject HttpClient HttpClient
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime


<div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 20em; height: 20em; text-align: center">
    <h1>Spotify Migrator</h1>
    <h2>It's ugly: but it works.</h2>
    <h4>Make sure to logout first</h4>
    <a href="https://www.spotify.com/ca-en/logout/" target="_blank" style="all: unset;"><Button Color="Color.Primary" Style="width: 100%">Logout</Button></a>
    <Button Color="Color.Primary" Outline onclick="@LoginToSpotify" Style="width: 100%; margin-top: 5%">Login</Button>
    <small>* If you're using this to migrate songs to a new account, login with your old account. </small>
</div>

@code {
    private async Task LoginToSpotify()
    {
        var loginRequest = new LoginRequest(new Uri("http://localhost:5009/api/Spotify"), Configuration["ClientId"] ?? throw new Exception("Client ID not set in appsettings"), LoginRequest.ResponseType.Code)
            {
                Scope = new[] { Scopes.PlaylistModifyPrivate, Scopes.PlaylistModifyPublic, Scopes.PlaylistReadPrivate, Scopes.UserLibraryRead, Scopes.UserModifyPlaybackState, Scopes.UserReadPrivate, Scopes.UserLibraryModify }
            };
        var uri = loginRequest.ToUri().AbsoluteUri;
        NavManager.NavigateTo(uri);
    }
}