<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="./css/index.css" rel="stylesheet" />
  </head>
  <body>
    <div class="flex h-screen justify-center items-center">
      <div class="text-center">
        <h1 class="text-center text-white text-4xl" id="message">
          <%=message%>
        </h1>
      </div>
    </div>
    <% if(typeof i != 'undefined') { %>
    <div class="hidden"><%=i%></div>
    <% } %>
  </body>
  <% if(typeof i != 'undefined') { %>
  <script>
    let i = document.getElementsByClassName("hidden")[0].innerHTML;
    console.log(i);
    setTimeout(() => {
      window.location.href = "/Done";
    }, parseInt(i));
  </script>
  <% } %>
</html>
