<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="./css/index.css" rel="stylesheet" />
    <title>Login</title>
  </head>
  <body>
    <div class="container mx-auto">
      <div>
        <h1 class="text-center mt-5 text-white text-4xl">Spotify Migrator</h1>
        <h2 class="text-center text-white mt-10 text-2xl">
          MAKE SURE TO LOGOUT FIRST
        </h2>
        <div class="w-1/2 text-center mt-10 mx-auto">
          <a
            href="https://www.spotify.com/ca-en/logout/"
            class="linkRed p-4 rounded-md"
            target="_blank"
            rel="noopener noreferrer"
          >
            Logout
          </a>
        </div>
        <h2 class="text-center text-white mt-10 text-2xl">
          Login with your
          <span class='<%=color%> underline''><%=type%></span>
          account
        </h2>
        <div class="w-1/2 text-center mt-10 mx-auto">
          <a href="<%=where%>" class="link p-4 rounded-md">
            Login with Spotify
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
